<h2 class="index-title"><u>Lots and Lots of Candy!!</u></h2>
<% @candy.each do |candy| %>
<%= link_to image_tag(candy.img_url, class: "candy-thumb"), candy_path(candy) %>
<% end %>

<br><br>
<a href="/candies/new/">Add More Yummy Candy</a>
