<h1><%= @candy.name %></h1>
<h3>Sweetness Scale: <%= @candy.sweetness %></h3>
<h3>Yummy?: <%= @candy.yummy %></h3><br>
<br>
<%= button_to "Delete a Candy", delete_candy_path(@candy), method: :delete %><br>




