// Place all the styles related to the candies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.index-title {
  color: darkmagenta;
}

.candy-thumb {
width: 200px;
}

.candy-img {
  width: 50%;
}

